<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 m-1" *ngFor="let etudiant of etudiants">
                    <app-etudiant-item (infoSup)="supprimer($event);" [etudiant]="etudiant"></app-etudiant-item>
                </div>
            </div>
        </div>
        <div class="col-12">
            <!-- inserer ici le formulaire de création d'un étudiant -->
            <div class="container">
                <etudiant-new (creation)="ajouter($event)"></etudiant-new>
            </div>
        </div>
    </div>
</div>