<form>
    <div class="form-group">
        <label for="prenom" class="col-sm-1-12 col-form-label">Prénom</label>
        <div class="col-sm-1-12">
            <input [(ngModel)]="etudiant.prenom" type="text" class="form-control" name="prenom"
                id="prenom" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="nom" class="col-sm-1-12 col-form-label">Nom</label>
        <div class="col-sm-1-12">
            <input [(ngModel)]="etudiant.nom" type="text" class="form-control" name="nom" id="nom"
                placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="dateNaissance" class="col-sm-1-12 col-form-label">Date Naissance</label>
        <div class="col-sm-1-12">
            <input [(ngModel)]="etudiant.dateNaissance" type="date" class="form-control"
                name="dateNaissance" id="dateNaissance" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="lieuNaissance" class="col-sm-1-12 col-form-label">Lieu Naissance</label>
        <div class="col-sm-1-12">
            <input [(ngModel)]="etudiant.lieuNaissance" type="text" class="form-control"
                name="lieuNaissance" id="lieuNaissance" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="sexe" class="col-sm-1-12 col-form-label">Sexe</label>
        <div class="col-sm-1-12">
            <select [(ngModel)]="etudiant.sexe" class="form-control" name="sexe" id="sexe">
                <option value="Masculin">Masculin</option>
                <option value="Féminin">Féminin</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="etat" class="col-sm-1-12 col-form-label">Etat</label>
        <div class="col-sm-1-12">
            <input [(ngModel)]="etudiant.etat" type="checkbox" class="form-control" name="etat"
                id="etat" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="offset-sm-2 col-sm-10">
            <button (click)="informerCreation()" type="submit"
                class="btn btn-primary float-right">Enregistrer</button>
        </div>
    </div>
</form>