<div>
  <h1>Page de détails d'un contact</h1>
  <ul style="list-style-type: none;">
    <li>Nom complet: Moussa FOFANA</li>
    <li>Email : moussa.fofana@univ-thies.sn</li>
    <li>Message: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque tempore reprehenderit sunt, quis,
      corporis, doloremque sequi deserunt illum consectetur obcaecati ea suscipit perferendis magnam vel nobis fugiat
      beatae doloribus laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate at excepturi
      architecto magni corporis, quisquam inventore molestiae tempora sed veritatis nulla? Impedit atque officiis
      tempora enim, sunt laboriosam doloribus.</li>
  </ul>
</div>
